extends ../layouts/layout

block content
  p#notice

  each n in ['user.name','user.password','user.uid']
    p
      strong #{n.split('.')[1]}:
      span #{eval(n)}

  a(href='/users/#{ user._id}/edit') Edit
  span |
  a(href='/users') Back