extends ../layouts/layout

block content
  p#notice

  each n in ['student2.name','student2.password']
    p
      strong #{n.split('.')[1]}:
      span #{eval(n)}

  a(href='/student2s/#{ student2._id}/edit') Edit
  span |
  a(href='/student2s') Back